<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uz.sicnt.eimzo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logoedo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CastomSpinnerActivity" />
        <activity android:name=".Pdf_activity" />
        <activity
            android:name=".Dashboard"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" />


        <activity android:name=".LoginActivityCons">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.action.BROWSABLE"></category>

                <data android:scheme="https"
                    android:host="edo.uzautomotors.com"></data>
            </intent-filter>
        </activity>
    </application>

</manifest>